.header-title {
    color: #3498db;
}
.container{
    padding: 3%;
    display: flex;
    align-items: center;
}

.title{
    margin-top: 10%;    
}

  .title h1 {
    margin-left: 15%; 
    color: #3498db;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 280%;
}

.start-game-btn{
    margin-left: 15%;
    margin-top: 30%;
    height: 15%;
    width: 70%;
    border-radius: 25px;
    size: large;
    display: inline-block;
    background-color: #3498db;
    color: white;
}

.join-game-btn{
    margin-left: 15%;
    margin-top: 10%;
    height: 15%;
    width: 70%;
    border-radius: 25px;
    display: inline-block;
    background-color: #3498db;
    color: white;
}

.username-input {

    margin-left: 10%;
    margin-right: 15%;
   }
   
   .username-label {
    margin-left: 5%;
    margin-top: 10%;
       
   }

   .serverBtn{
  background: #3498db;
  padding: 3%;
  color: white;
  margin-left: 15%;
  margin-bottom: 10%;
  margin-top: 5%;
  
  }