<ion-header translucent>
  <ion-toolbar>
    <ion-title class="header-title">Memory Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div style="margin-top:10%">
    <ion-label class="username-label" >Enter the code</ion-label>
    <ion-item class="username-input">
  
      <ion-input required type="text" color="white"></ion-input>
  
    </ion-item>
</div>
  

  <div class="ion-padding">

    <ion-button expand="block" type=submit class="login-btn" color="primary">
      <p>JOIN</p>
    </ion-button>
  </div>
</ion-content>