.header-title {
    color: #3498db;
}

.username-input {

    margin-right: 5%
      
   }
   
   .username-label {
       margin-left: 5%;
       margin-top: 10%;
       color: #3498db;
   }
  
   
   .login-btn{
     color: #3498db;
     font-weight: bolder;
   }