.header-title {
    
    color: #3498db;
    font-weight: bold;
    size: large;
}
   
   .username-label {
       margin-left: 7%;
       margin-top: 10%;
       color: #3498db;
       font-weight: bold;
   }
  
   

   .item{
    margin-top: 10%;
    margin-left: 7%;
    margin-right: 7%;
   }

   .login-btn{
    margin-left: 15%;
    margin-top: 15%;
    height: 15%;
    width: 70%;
    border-radius: 25px;
    size: large;
    display: inline-block;
    background-color: #3498db;
    color: white;
}