.header-title {
    color: #3498db;
    font-weight: bolder;
}


.username-label1 {
  margin-left: 5%;
  color: #3498db;
  font-weight: bold;
 
}

.label-separator{
  height: 0.8rem; 
}
.label-1{
  margin-left: 8%;
}

.username-label2 {
  margin-left: 5%;
  color: #3498db;
  font-weight: bold;
  //margin-top:10%;

}

.login-btn{
 // margin-top: 40%;
  height: 15%;
  width: 99%;
  border-radius: 30px;
  size: large;
  display: inline-block;
  background-color: #3498db;
  color: white;
}