mat-grid-tile {
  background: lightblue;
  font-size: 3rem;
}

.header-title {
    color: #3498db;
    font-weight: bolder;
    margin-left: 35%;
   
}

.players{
  color: #3498db;
  font-weight: bolder;
  margin-top: 12%;
  margin-left: 5%;
  float: left;
}
.players2{
  color: #3498db;
  font-weight: bolder;
  margin-top: 12%;
  margin-left: 9%;
  float: left;
}

.pl{
  color: black; 
  font-weight: initial; 
  margin-top: 10%;
}